.container{
    width: 1244px;
    padding: 0 var(--gutter);
    margin: 0 auto;
  }
  
  .grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter);
  }
  
  .filters{
    position: relative;
  }
  
  .filters-price__input{
    width: 100%;
  }
  
  .fixed{
    position: fixed;
    top: var(--gutter);
    left: 0;
  }
  
  .absolute{
    position: absolute;
    bottom: 0;
    left: 0;
  }